.game-room {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 15px;
  color: white;
  width: 800px;
  gap: 10px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 4, 4, 0.513);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.game-host {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: auto;
  box-shadow: 0 1px 4px rgba(78, 73, 213, 0.497);
}

/*.game-host h1 {
  font-family: corleone-Due-Regular;
  font-weight: normal;
  font-size: 40px;
  color: #efbd08af;
  margin:auto;
  margin-bottom: 10px;
}
*/
.game-host h1 {
  background: linear-gradient(to bottom, #f4b93a 27%, #b68901 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: corleone-Due-Regular;
  position: relative;
  text-transform: uppercase;
  font-size: calc(2vw + 0.5rem);
  margin: 0;
  font-weight: normal;
}
.game-host input {
  width: 90%;
  height: 30px;
  font-family: fantasy;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #22222294;
  color: white;
  outline: none;
  box-shadow: 0px 0px 4px rgba(128, 134, 249, 0.672);
}

.host-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #2938a44e;
  color: antiquewhite;
  font-size: 16px;
  font-family: YesevaOne-Regular;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 1px 3px rgba(239, 253, 245, 0.392);
}

.game-host button:hover {
  background-color: red;
}

.gameKey {
  text-align: center;
}

.gameKey p {
  font-size: 18px;
  margin: 10px 0;
}
@media screen and (max-width: 1024px) {
  .game-room {
    width: 90%;
  }
}
/* Styles for screens between 480px and 600px (typical phones in landscape mode) */
@media screen and (max-width: 620px) {
  .game-room {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .game-host {
    width: 90%;
    margin: auto;
    margin-top: 3px;
  }
}

@media screen and (max-width: 380px) {
  .game-room {
    padding-bottom: 0px;
    padding: 10px 1px 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .game-host {
    width: 80%;
    padding: 25px 35px 10px 20px;
  }
}
