
.character-card {
  width: 180px;
  height: auto;
  background-color: #000;
  border: 1px solid #f34747; /* Red border */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5px;
  color: #fff; /* White text color */

  /* New styles for grayscale and 'X' marker */
  position: relative;
  overflow: hidden;
}

.character-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.character-card.dead {
  filter: grayscale(100%);
}

.character-card.dead::before {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
}

.character-info {
  font-size: 10px;
  background-color: #f34747; /* Red background for info section */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1px;
}

.character-name {
  font-weight: bold;
  color: #000; /* Black text color for character name */
}

.character-ability {
  margin-top: 1px;
  color: #030303; /* White text color for character ability */
}
