.host-container-card {
  width: 100%;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
}

.host-player-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.ppl-in-city-h1 {
  font-family: YesevaOne-Regular;
  font-size: calc(3vw + 0.5rem);
  text-shadow: 3px 2px rgba(255, 0, 0, 0.544);
  margin: 0 auto;
}
.host-sides-mafia {
  font-family: corleone-Due-Regular;
  font-size: calc(3vw + 0.5rem);
  padding-top: 15px;
  margin: 0 auto;
  color: rgba(255, 0, 0, 0.543);
}

.host-sides-citizen {
  font-family: corleone-Due-Regular;
  font-size: calc(3vw + 0.5rem);
  margin: 0 auto;
  color: rgba(0, 255, 47, 0.75);
}

.host-character-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.host-mafia-container .gameCard-character-info {
  box-shadow: 0 0 5px rgb(255, 2, 2);
}
.host-citizen-container .gameCard-character-info {
  box-shadow: 0 0 5px rgb(137, 255, 2);
}
.host-citizen-container .gameCard-character-info:hover {
  box-shadow: 0 0 5px rgb(137, 255, 2);
  background-color: rgba(7, 255, 156, 0.519);
}
.host-mafia-container .gameCard-character-info:hover {
  box-shadow: 0 0 5px rgb(255, 2, 2);
  background-color: rgba(255, 0, 0, 0.494);
}
.night-actions-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-left: 5px solid #16095622;
  color: #ffffffaf;
}
.night-actions-container h1 {
  font-family: YesevaOne-Regular;
  text-align: left;
  margin: 0;
  padding-top: 20px;
  font-size: calc(3vw + 0.5rem);
  text-shadow: 3px 2px rgba(255, 0, 0, 0.544);
}
.night-actions-container h3 {
  font-family: YesevaOne-Regular;
  font-size: 25px;
  color: rgb(146, 145, 142);
  margin: 20px auto;
}
.dead {
  filter: grayscale(100%);
  text-decoration: line-through;
  opacity: 0.7;
}

.checkBox-label {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: corleone-Due-Regular;
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 4px 6px rgba(255, 2, 2, 0.486);
}

.checkBox-label:hover {
  box-shadow: 0 4px 6px rgb(255, 2, 2);
}

.checkBox-label.disabled,
input[type='checkbox'][disabled] {
  cursor: not-allowed;
  filter: grayscale(90%);
  opacity: 0.7;
}
.checkBox-label.disabled:hover {
  box-shadow: 0 4px 6px rgb(248, 245, 245);
}
.night-action-form-btn {
  display: block;
  font-family: YesevaOne-Regular;
  width: 88%;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(36, 2, 255);
  font-size: 30px;
  font-weight: bold;
  color: rgb(146, 145, 142);
  background-color: transparent;
}
.night-action-form-btn:hover {
  background-color: #8b0303a8;
  color: antiquewhite;
  font-family: corleone-Due-Regular;
  font-style: italic;
  font-size: 50px;
  padding: 8px;
}
.night-actions-container.dead {
  filter: grayscale(100%);
}
.gameOver-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.gameOver-container > h1 {
  font-family: corleone-Due-Regular;
  font-weight: normal;
  font-size: calc(4vw + 1rem);
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px #f602da;
}
.play-again-btn {
  font-size: calc(1.8vw + 0.5rem);
  width: 40%;
  height: 50px;
  margin: 0 auto;
  color: antiquewhite;
  font-family: YesevaOne-Regular;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(4, 4, 4);
  background-color: #2938a44e;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.winner-team-name {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(2vw + 1rem);
  font-family: corleone-Due-Regular;
  color: rgb(180, 250, 195);
}
.winner-team-name > p {
  padding-left: 10px;
  font-size: calc(2vw + 1rem);
  font-family: corleone-Due-Regular;
  color: rgb(188, 2, 255);
}
.winner-team-players {
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (max-width: 800px) {
  .host-container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .host-player-card {
    margin: 0;
  }
  .host-sides-citizen,
  .host-sides-mafia {
    padding-top: 20px;
    font-size: calc(3vw + 0.7rem);
  }
  .night-actions-container {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 60vh;
    border-left: 0px;
  }
  .night-actions-container h1 {
    padding-top: 10px;
    font-size: calc(4vw + 0.5rem);
  }

  .night-actions-container form {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    width: 100%;
  }
  .checkBox-label {
    width: 95%;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(255, 2, 2, 0.486);
  }

  .night-action-form-btn {
    width: 100%;
    padding: 13px;
  }
  .night-action-form-btn:hover {
    padding: 1px;
  }
  .gameOver-container {
    width: 100%;
    margin: auto;
  }
  .play-again-btn {
    width: 30%;
  }
  .winner-team-players {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  .host-container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .night-actions-container {
    width: 100%;
    padding: 5px;
    height: auto;
    margin: auto;
    border-left: 0px;
  }
  .night-actions-container h1 {
    font-size: calc(5vw + 0.5rem);
  }
  .night-actions-container form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }
  .checkBox-label {
    width: 95%;
    padding: 4px;
    box-shadow: 0 4px 6px rgba(255, 2, 2, 0.486);
  }

  .night-action-form-btn {
    margin: auto;
    padding: 14px 0px 15px;
    font-size: 25px;
  }
  .night-action-form-btn:hover {
    padding: 1px;
  }
  .winner-container {
    width: 100%;
    margin: auto;
  }
  .winner-container > h1 {
    font-size: 30px;
    color: rgba(190, 2, 2, 0.689);
    text-shadow: 3px 2px rgba(227, 172, 172, 0.573);
  }
  .play-again-btn {
    width: 30%;
  }
}
@media only screen and (max-width: 400px) {
  .night-action-form-btn {
    margin: auto;
    font-size: 25px;
    padding: 16px;
  }
  .night-action-form-btn:hover {
    padding: 2px;
  }
  .night-actions-container h1 {
    font-size: calc(7vw + 0.5rem);
  }
  .ppl-in-city-h1 {
    font-size: calc(5vw + 0.5rem);
  }
  .host-sides-mafia {
    font-size: calc(5vw + 0.5rem);
  }
  .host-sides-citizen {
    font-size: calc(5vw + 0.5rem);
  }
}
