.player-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.player-container > h2 {
  font-family: corleone-Due-Regular;
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  color: antiquewhite;
  margin: auto;
}
.gameCard-design-container.player .gameCard-character-info > span {
  font-size: 30px;
}

.player-container div:hover {
  cursor: default;
}

@media only screen and (max-width: 1024px) {
  .player-container {
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  .player-container {
    width: 100%;
    margin: auto;
  }
}
