*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.table-container{
    display: flex;
    flex-direction: column;
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    
}
.table-container h1 {
    text-shadow: 3px 2px rgba(255, 0, 0, 0.544);
}
.host-container-card {
    width: auto;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap; 
  }

  .host-player-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: center;
  }
  .host-sides-mafia{
    font-size: 30px;
    color: rgba(255, 0, 0, 0.217);
  }
  .host-sides-citizen{
    font-size: 30px;
    color: rgba(0, 255, 47, 0.217);
  }
  .host-character-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .host-citizen-container, .host-mafia-container{ 
    align-items:center;
  }
  .host-mafia-container:hover {
    color:black;
    box-shadow: 0 0 5px rgb(255, 2, 2);
    background-color: rgb(255, 0, 0);
  }
  .host-citizen-container:hover {
    color: black;
    box-shadow: 0 0 5px rgb(137, 255, 2);
    background-color: rgb(7, 255, 156);
  }

  .night-actions-container{
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    border-left: 5px solid #2c02fd43;
    color: #ffffffaf;
   
  }
  .dead {
    filter: grayscale(100%); 
    text-decoration: line-through;
    opacity: 0.7; 
  }
  .night-actions-container label {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgb(255, 2, 2);
    color: antiquewhite;
  }
  
  .night-actions-container label:hover {
    box-shadow: 0 4px 6px rgb(36, 2, 255);
  }
  
  .submit-form {
    width: 80%;
    margin-right: 40px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(36, 2, 255);
    color: antiquewhite;
    background-color: black;
  }
  
  .night-actions-container.dead {
    filter: grayscale(100%); /* Make the night actions container black and white for dead characters */
  
  }
 
  