/* Default styles for all screens */
.game-room {
    background-color: black;
    display: flex;
    justify-content: space-between; /* Separate the sections */
    align-items: center;
    padding: 20px;
    color: white;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgb(129, 5, 5);
  }
  
 
.game-host {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
 .host-btn {
    background-color: #04aa6d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .game-host h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .game-host input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
    outline: none;
  }
  
  .game-host button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .game-host button:hover {
    background-color: #057449;
  }
  
  .gameKey {
    text-align: center;
  }
  
  .gameKey p {
    font-size: 18px;
    margin: 10px 0;
  }
  /* Styles for screens between 480px and 768px (typical phones in landscape mode) */
  @media screen and (max-width: 768px) {
    .game-room {
      width: 90%;
      flex-direction: column;
    }
  
    .game-host {
      padding: 10px;
    }
  }
  
  /* Styles for screens up to 480px (typical portrait mode phones) */
  @media screen and (max-width: 480px) {
    .game-room {
      width: 80%;
      flex-direction: column;

    }
  
    .game-host {
      padding: 10px;
    }
  }
  @media screen and (max-width: 320px) {
    .game-room {
      width: 90%;
      flex-direction: column;
    }
  
    .game-host {
      padding: 10px;
    }
  }
  