@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
  max-width: 960px;
  margin: auto;
  padding: 60px 0;
}

.navbar-list {
  background-color: transparent;
}

.navbar ul {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 35px rgba(253, 3, 3, 0.689);
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  box-shadow: inset 0 0 3px rgba(0, 8, 7, 0.6);
  padding: 18px;
  font-family: 'Open Sans';
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(253, 253, 254, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
  background-color: black;
}

.navbar ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(250, 2, 2, 0.576);
  color: rgba(5, 217, 250, 0.535);
}

@media only screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
  }

  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    padding: 14px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    width: 90%;
    padding: 0px 5px;
    box-sizing: border-box;
    justify-content: center;
  }

  .navbar-list {
    flex-direction: column;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
  }

  .navbar ul li {
    display: block;
    margin-bottom: 10px;
  }

  .navbar ul li a {
    padding: 14px;
    font-size: 16px;
  }
}
