@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
  display: flex;
  max-width: 960px;
  margin: auto;
  padding-bottom: 20px;
  background-color: #000000;
}

.navbar-list {
  background-color: transparent;
  width: 80%;
  height: 40px;
  margin: auto;
  gap: 40px;
  padding: 5px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  border-radius: 0 0 30px 30px;
  text-align: center;
  box-shadow: 0 0 8px rgba(87, 58, 4, 0.689);
}

.navbar ul li {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li a {
  margin: auto;
  text-decoration: none;
  background: linear-gradient(to bottom, #ecc674 27%, #cb9b0a 40%, #644402 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: corleone-Due-Regular;
  text-transform: uppercase;
  font-size: calc(2vw + 0.5rem);
  font-weight: normal;
}
.navbar ul li a.loggedIn {
  background: linear-gradient(to bottom, #8ef4a6 27%, #2cd13a 40%, #015412 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar ul li a.active {
  background: linear-gradient(to bottom, #fc6d6d 27%, #f73838 40%, #340101 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar ul li a:hover {
  background: linear-gradient(to bottom, #1a18bc 27%, #2206f4 40%, #240101 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    margin: 0 auto;
  }
  .navbar-list {
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .navbar ul {
    width: 80%;
    height: 30px;
    margin: 0 auto;
  }

  .navbar ul li a {
    font-size: calc(2vw + 0.5rem);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    width: 100%;
    margin: auto;
  }
  .navbar-list {
    gap: 5px;
  }
  .navbar ul {
    width: 100%;
  }

  .navbar ul li {
    display: flex;
    margin-bottom: 10px;
    margin: 0 auto;
  }

  .navbar ul li a {
    font-size: calc(3vw + 0.5rem);
    margin: auto;
  }
}
