@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
  max-width: 960px;
  margin: auto;
  padding: 60px 0;
  background-color: #000000;
}

.navbar-list {
  background-color: transparent;
  padding: 10px;
}

.navbar ul {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(87, 58, 4, 0.689);
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  padding: 18px;
  text-decoration: none;
  background: linear-gradient(to bottom, #ffdf9a 27%, #cb9b0a 40%, #3e2a03 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: corleone-Due-Regular;
  text-transform: uppercase;
  font-size: calc(24px + 0.5rem);
  font-weight: normal;
}

.navbar ul li a:hover {
  background: linear-gradient(to bottom, #f98080 27%, #f40606 40%, #240101 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
  }

  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    padding: 14px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .navbar-list {
    flex-direction: column;
    margin: auto;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    margin: auto;
  }

  .navbar ul li {
    display: block;
    margin-bottom: 10px;
    margin: auto;
  }

  .navbar ul li a {
    padding: 14px;
    font-size: 16px;
    margin: auto;
  }
}
