.table-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 105vh;
  color: bisque;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.player-characterCard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}
.your-role{
  font-size: 30px;
  color: rgb(13, 245, 121);
  padding: 20px 0 0;
  margin: auto;
}
.player-characterCard-container div{
  justify-content: center;
  max-width: 100%;
  height: 400px;

}
.player-characterCard-container img{
  object-fit:cover;
  width: 200px;
  height: auto;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .ppl-in-city-h1 {
    font-size: 30px;
    width: 90%;
    margin: 0 auto;   
  }
  .player-characterCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .your-role{
    font-size: 30px;
    color: rgb(13, 245, 121);
    margin: auto;
  }
  .player-characterCard-container div{
    justify-content: center;
    max-width: 100%;
    height: 400px;
  }
  .player-characterCard-container img{
    object-fit:cover;
    width: 200px;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .ppl-in-city-h1 {
    font-size: 30px;
    width: 90%;
    margin: 0 auto;   
  }
  .player-characterCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .your-role{
    font-size: 30px;
    color: rgb(13, 245, 121);
    margin: auto;
  }
  .player-characterCard-container div{
    justify-content: center;
    max-width: 100%;
    height: 400px;
  }
  .player-characterCard-container img{
    object-fit:cover;
    width: 200px;
    height: auto;
  }
}
