.gameCard-design-container {
  width: 90%; 
  max-width: 130px;
  height: 320px;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

.gameCard-character-info {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0px 0px 10px 0px rgba(250, 236, 112, 0.314);
}
.gameCard-character-info > p {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  padding: 7px;
  margin: auto;
  color: bisque;
}
.gameCard-character-info > span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  height: 40px;
  padding: 5px;
  margin: 0 auto;
}

.gameCard-character-image {
  width: 85%; 
  height: 70%;
  object-fit:filled;
  border: 1px solid #0c30fa;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(241, 1, 1, 0.995);
  margin:0 auto;
}

.gameCard-design-container.dead {
  filter: grayscale(100%);
}

.gameCard-design-container.dead::before {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
}
.active-player{
  background-color: rgb(121, 23, 128);
  border: 2px solid rgba(247, 1, 239, 0.606);
  box-shadow: 1px 1px 15px 3px rgb(11, 3, 255);
}

@media only screen and (max-width: 1024px) {
  .gameCard-design-container {
    max-width: 110px; 
    height: 270px;
  }

  .gameCard-character-image {
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .gameCard-design-container {
    max-width: 100px; 
    height: 250px;
  }

  .gameCard-character-image {
    height: 100%;
  }
}
